@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Empieza completamente transparente */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}


body{
    background-color: #FFFFFF;
    
}

#Logo{
    width: 200px;
    margin-bottom: 40px;
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 3s forwards; /* Llama a la animación fadeIn */
    
}

#encabezado{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30em;
    
    align-items: center;
    margin: auto;
    
    
    
}







h1{
    font-size: 9em;
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 1s forwards; /* Llama a la animación fadeIn */
    color: #46f3dc;
    margin-bottom: 0;
    margin-top: 0;
    
    
    
    
    
}


h2{
    
    
}
#eslogan{
    margin-bottom: 2em;
    font-size: 30px;
    margin-top: 0px;
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 3s forwards; /* Llama a la animación fadeIn */
    color: #46f3dc;
    font-style: oblique;
    
    
}

#cuerpo{
    text-align: center;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 60px;
    font-size: 20px;
    

    
    



}

#lista{
    text-align: left;
    


}

.elemento-lista{
    padding: 20px;
}

.segundo-titulos{
    color: #46f3dc;
}

#doctores{
    margin: 0;
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 3s forwards; /* Llama a la animación fadeIn */
    
   
}

#flyer1{
    max-width: 800px;
    display: flex;
    margin: auto;
    margin-top: 80px;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.1);


}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 90px;
    padding-right: 45px;
}

.contact-form h2 {
    margin-bottom: 15px;
    color: #4fe3a6;
    text-align: center;
    font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: vertical;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    background-color: #5ecb8b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

#doctor-form{
    width: 300px;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 240px;
    
    
    
}

#formulario{
    display: flex;
    margin-left: 400px;
    
}

.cartoon{
    width: 200px;
    margin: auto;
}

.presentacion{
    margin-top: 100px;
}